/* ====================================
// css variables
// ==================================== */

:root {
}
@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  font-family: omnes-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

header,
footer {
  background: #d3d1cb;
  color: black;
  position: sticky;
  height: 20%;
  width: 100%;
}

footer {
  margin-top: 200px;
}

a {
  text-decoration: none;
}

footer a {
  font-size: 20px;
}

header h1 {
  display: flex;
  justify-content: center;
  padding: 10px 0 30px 0;
}

header nav {
  display: flex;
  justify-content: center;
  transform: translateY(48%);
}

h1 {
  font-family: fakir-small-caps-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: fakir-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  padding: 200px 0 0 45px;
}

.footer-decoration {
  display: flex;
  justify-content: center;
  transform: translateY(-54%);
}

// timetable

.timetable-section {
  margin: 45px 0 40px 0;
}

.timetable-section h1 {
  margin-bottom: 25px;
}

// menu-section

.menu-section {
  margin: 55px 0 45px 0;
}

.menu-section h1 {
  margin-bottom: 25px;
}

.menu-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.menu-row p {
  font-size: 16px;
}

.menu-card {
  margin: 40px 0 40px 0;
}

.menu-card h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .menu-row {
    flex-direction: column;
  }
}

// event

.poseur-information {
  margin: 80px 30px 0 0px;
}

.poseur-information .poseur-section,
.cabaret-information .cabaret-section {
  margin-top: 70px;
}

.cabaret-information {
  margin: 80px 0 0 0px;
}

// location

.location-section {
  margin: 76px 0 130px 0;
}

.location-information {
  margin: 45px 0 40px 0;
}

.location-outsides {
  margin-bottom: 20px;
}

// footer contat
.contact-information {
  padding: 5px 0 0 45px;
}

.contact {
  margin-bottom: 30px;
}

// header nav

.horaire-nav:visited,
.menu-nav:visited,
.evenement-nav:visited,
.lieu-nav:visited {
  fill: #d3d1cb;
}
